@import "bootstrap";

$font-family-name: "Polar";
@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
  @font-face {
    font-family: quote($font-name);
    src: url($file-name + ".eot");
    font-weight: $weight;
    font-style: $style;
  }
}

@include font-face(
  $font-family-name,
  "fonts/Polar",
  $style: normal,
  $weight: normal
);

body {
  font-family: $font-family-name;
  position: relative;
}

.navbar {
  text-transform: uppercase;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 700;

  a {
    color: #fff !important;
  }
}

@media only screen and (min-width: 768px) {
  .navbar {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;

    &.navbar-shrink {
      padding: 0;
      background: black;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      a {
        color: #fff !important;
      }
    }
  }
}

section {
  padding: 50px;
}

//
// Masthead section styling
//

header.masthead {
  padding-top: 6rem + 4.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: $white;

  &.overlay {
    position: relative;

    &::before{
      content: "";
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      background-color: rgb(1, 1, 1);
      opacity: 0.6;
    }
  }


  .masthead-subheading {
      font-size: 1.5rem;
      font-style: italic;
      line-height: 1.5rem;
      margin-bottom: 25px;
      font-family: $font-family-name;
  }

  .masthead-heading {
      font-size: 3.25rem;
      font-weight: 700;
      line-height: 3.25rem;
      margin-bottom: 2rem;
      font-family: $font-family-name;
  }
}

@include media-breakpoint-up(md) {
  header.masthead {
      padding-top: 12.5rem + 4.5rem;
      padding-bottom: 12.5rem;

      .masthead-subheading {
          font-size: 2.25rem;
          font-style: italic;
          line-height: 2.25rem;
          margin-bottom: 2rem;
      }

      .masthead-heading {
          font-size: 4.5rem;
          font-weight: 700;
          line-height: 4.5rem;
          margin-bottom: 4rem;
      }
  }
}